@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html,body {
  font-family: "Open Sans", serif;
  width: 100vw;
  height: 100vh;
  color: #DFDFE3;
  background: #3E3E63;
  overflow: hidden;

}


/*-----New Style--------*/

.title-left{
  width:100%;
  float: left;
  background: url("img/main.jpg") center center no-repeat;
  background-size: cover;
  background-color: #252444;

}



.title-container__title {
  font-size: 2em;
  color: #DFDFE3;
  margin-left: 15px;
  margin-right: 15px;
  
}

.title-top{
  width: 100%; 
  font-family: 'Roboto Slab', serif;
  padding-left: 2%;
  font-size: 2em;

}


.title-container__subtitle {
  width: 100%;
  color: #DFDFE3;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1em;
}


.form-right{
  color:#DFDFE3;
  background-color: #111;
  height: 98vh;
  padding-left: 3%;
}



.weather__key {
  color:#2A8FF2;
}


.weather__value {
  color: #DFDFE3;
 
}





.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: left;
    padding-left: 3%;
    padding-top:5px;
}





/*               */

.wrapper {
  background: #2c3e50;
  
}




.main {
  
}

.title-container {
  background: #f50000;
 
}

.title-outer{
  
}



.title-bottom{
  
}







.form-container {
 height: 100%;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #2A8FF2;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #2A8FF2;
  color: #fff;
  font-weight: 100;
  text-align: center; 
}

button:active {
  outline: none;
}

.weather__info {
  width: 80%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}



.weather__key:last-child {
  border: 0;
}



.weather__error {
 
}


@media (min-width: 660px){
  
    .title-left{
      width:50%;
      float: left;
      height: 100vh;;

    }

    .form-right{
      width:50%;
      float: right;

      height: 100vh;
    }
}




.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}